<mat-card class="forgot-password-container">
    <mat-card class="forgot-password-container-data">
        <mat-card-title class="forgot-password-container-data__title">Reset Passoword</mat-card-title>
        <form class="forgot-password-container-data-form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
            <mat-form-field appearance="outline">
                <label for="registerEmail"></label>
                <input
                    formControlName="email"
                    id="registerEmail"
                    matInput
                    name="email"
                    placeholder="Email"
                    required
                    type="email"
                >
                <mat-error>
                    <span
                        *ngIf="!registerForm.get('email')?.valid && registerForm.get('email')?.touched"
                    >Wrong email</span>
                </mat-error>
            </mat-form-field>

            <mat-card-title>
                <a
                    [routerLink]="['/login']"
                    routerLinkActive="active"
                >Login</a>
            </mat-card-title>

            <button
                color="primary"
                [disabled]="!registerForm.valid"
                mat-raised-button
            >Reset Password</button>
          </form>
    </mat-card>
</mat-card>
